<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.corg">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Workshop - Authors</title>
</head>
<body>
<h1>Authors list</h1>

<table>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="author: ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">FirstName</td>
        <td th:text="${author.lastName}">LastName</td>
    </tr>
</table>
</body>
</html>